.example {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 11px 15px;
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  width: 100%;
  color: grey;
}

.example h6 {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  color: #000;
  top: -10px;
  left: 10px;
  z-index: 2343;
  background-color: var(--white-color);
  padding-inline: 6px;
}

.example img:nth-of-type(1) {
  margin-right: 25px;
}

.example img:nth-of-type(2) {
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #aaaaaa;
}
