.favorite {
  border: 1px solid var(--mint-green-color);
  border-radius: 4px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.like,
.disLike {
  font-size: 24px;
}

.like,
.disLike {
  color: #4c4850;
}
