.card {
   background: #ffffff;
   box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
   border-radius: 12px;
   padding: 30px;
   color: #112211;
   margin-bottom: 40px;
}

.price {
   margin-bottom: 25px;
}

.price h4 {
   color: #121;
   font-size: 24px;
   font-weight: 700;
}

.price h3 {
   color: #ff8682;
   font-weight: 700;
   line-height: normal;
}

.top,
.center,
.price {
   display: flex;
   justify-content: space-between;
}

.top h5:nth-of-type(2) {
   opacity: 0.75;
}

.center {
   margin-block: 25px 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.planeDetails img {
   width: 64px;
   height: 45px;
}

.planeDetails {
   display: flex;
   align-items: center;
   gap: 25px;
   border: 1px solid #8dd3bb;
   border-radius: 8px;
   padding: 15px;
}

.details h4 {
   margin-bottom: 10px;
}

.amenities {
   display: flex;
}

.amenity {
   padding: 8px 15px;
   border-right: 1px solid #d7e2ee;
}

.amenity:last-child {
   border: none;
}

.icon {
   color: var(--blackish-green-color);
   font-size: 24px;
   cursor: pointer;
   transition: 0.3s color ease;
}

.icon:hover {
   color: var(--mint-green-color);
}

.bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 45px 70px;
}

.departureDetails {
   display: flex;
   gap: 15px;
   align-items: center;
}

.departureDetails h6 {
   opacity: 0.6;
   font-weight: 600;
}

.icons {
   display: flex;
   align-items: center;
   gap: 25px;
}

.icons img {
   height: 5px;
   width: 36px;
}

.icons img:nth-of-type(2) {
   transform: rotate(180deg);
}

.icons > svg {
   font-size: 48px;
}

@media screen and (max-width: 991px) {
   .bottom,
   .icons {
      flex-direction: column;
   }
   .icons img {
      transform: rotate(90deg);
   }
   .icons img:nth-of-type(2) {
      transform: rotate(270deg);
   }
}

@media screen and (max-width: 767px) {
   .center {
      flex-direction: column;
      gap: 40px;
   }
}
