.headingFilters {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 265px 50px;
  gap: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 340px 1px 1fr;
  gap: 20px;
  padding-top: 50px;
}

.separator {
  background: #112211;
  opacity: 0.25;
  width: 1px;
}

.search {
  cursor: pointer;
  width: 43px;
  height: 43px;
  background: var(--mint-green-color);
  color: var(--blackish-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px var(--mint-green-color) solid;
  transition: 0.3s ease all;
}

.searchIcon {
  font-size: 20px;
}

.search:hover {
  color: var(--mint-green-color);
  background: #fff;
  border: 1px var(--mint-green-color) solid;
}

.filters {
  color: var(--blackish-green-color);
}

.filters .filter:last-of-type {
  border: none;
}

.filters h5 {
  margin-bottom: 30px;
}

.filter {
  padding-block: 30px;
  border-bottom: 1px solid rgba(17, 34, 17, 0.25);
}

.filter h6 {
  margin-bottom: 10px;
}

.ratings {
  display: flex;
  gap: 15px;
  align-items: center;
}

.rate {
  border: 1px solid var(--mint-green-color);
  background: transparent;
}

.rate,
.selectedRate {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #112211;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.rate:hover,
.selectedRate {
  background: var(--mint-green-color);
  border: 1px solid #112211;
}

.class {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.class p {
  color: var(--blackish-green-color);
  font-weight: 500;
}

.checks {
  display: grid;
  gap: 15px;
}

.checked,
.unChecked {
  font-size: 20px;
  border-radius: 4px;
}

.checked {
  background: var(--mint-green-color);
  border: 2px solid var(--mint-green-color);
  color: var(--blackish-green-color);
}

.unChecked {
  color: #fff;
  background: #fff;
  border: 2px solid #112211;
}

.filters .filter:nth-of-type(3) h6,
.filters .filter:nth-of-type(4) h6 {
  margin-bottom: 20px;
}

.cardsWrapper {
  display: grid;
  gap: 30px;
}

@media screen and (max-width: 1300px) {
  .headingFilters {
    grid-template-columns: repeat(3, 1fr);
  }

  .search {
    grid-column: span 3;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .filters {
    display: none;
  }

  .separator {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .headingFilters {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    grid-column: span 2;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .headingFilters {
    grid-template-columns: 1fr;
  }

  .search {
    grid-column: unset;
  }
}
