.navBarContainer {
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  background: #fff;
}

.menuShow {
  display: none;
}

.menuHide {
  display: block;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.flights,
.hotels {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--blackish-green-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.flights:hover,
.hotels:hover {
  color: var(--mint-green-color);
}

.plane {
  font-size: 16px;
}

.selector {
  left: 0;
  transition: all 5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110.35px;
  height: 36px;
}

.selector,
.selectorActive {
  bottom: -20px;
  width: 103px;
  height: 5px;
  background-color: var(--mint-green-color);
  position: absolute;
}

.selectorActive {
  right: 0;
}

.profile {
  display: flex;
  gap: 30px;
  align-items: center;
}

.login,
.signup {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.signup {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--blackish-green-color);
  color: var(--white-color);
  transition: all 0.3s ease;
}

.login {
  color: var(--blackish-green-color);
  transition: all 0.3s ease;
}

.signup:hover {
  background: var(--white-color);
  color: var(--blackish-green-color);
  border: 1px solid var(--blackish-green-color);
}

.login:hover {
  color: var(--mint-green-color);
}

.navBarIcon {
  display: none;
}
.iconPartOne {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: var(--mint-green-color);
  margin-bottom: 7px;
  transition: all 0.3s;
}

.navBarIconMobile.active .iconPartOne {
  width: 30px;
  transform: translateY(10px) rotate(-45deg);
}

.iconPartTwo {
  width: 22px;
  height: 3px;
  border-radius: 10px;
  background: var(--mint-green-color);
  opacity: 1;
  transition: all 0.3s;
}

.navBarIconMobile.active .iconPartTwo {
  opacity: 0;
}

.iconPartThree {
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background: var(--mint-green-color);
  margin-top: 7px;
  transition: all 0.3s;
}

.navBarIconMobile.active .iconPartThree {
  width: 30px;
  transform: translateY(-10px) rotate(45deg);
}

@media screen and (max-width: 991px) {
  .navBarContainer {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile,
  .links {
    display: none;
  }
  .navBarIcon {
    display: block;
  }
  .navBarIconMobile {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 30px;
    text-align: right;
    cursor: pointer;
    z-index: 110;
  }
}
