.mainContainer {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
  border-radius: 16px;
  padding: 30px;
}

.heading {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  max-width: 220px;
}

.greenUnderLineLeft,
.greenUnderLineRight {
  width: 90px;
  height: 3px;
  background: var(--mint-green-color);
  position: absolute;
}

.greenUnderLineLeft {
  bottom: -20px;
  left: 0;
}

.greenUnderLineRight {
  bottom: -20px;
  right: 0;
}

.search {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}

.hotels,
.flights {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  padding-block: 10px;
  transition: all 0.2s ease;
}

.flights {
  padding-right: 30px;
  border-right: 1px solid #d7e2ee;
}
.hotels {
  padding-left: 30px;
}

.hotels:hover,
.flights:hover {
  color: var(--mint-green-color);
}
