.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.head h6 {
  color: #112211;
  opacity: 0.75;
  margin-top: 15px;
}

.mapWrapper {
  background: #8dd3bb;
  height: 600px;
  max-width: 1440px;
  margin-inline: auto;
}

.map {
  height: 600px;
  width: 100%;
  background: url("../../../../Assets/images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
