@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@400;600;700&display=swap");

:root {
  /* Transition */
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) rgba(255, 255, 255, 0) !important;

  /* Colors */
  --mint-green-color: #8dd3bb;
  --light-mint-green-color: #cdeae1;
  --blackish-green-color: #112211;
  --white-color: #ffffff;
  --black-color: #000;
  --body-bg: #fafbfc;
  --bg: #e3e4e8;
  --fg: #2e3138;
  --primary: #112211;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
  font-size: 16px;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

/* --------------- SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0);
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: var(--mint-green-color);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body,
input {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: var(--body-bg);
}

body {
  background-color: var(--body-bg);
  font-style: normal;
  font-weight: 400px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  /* 40px */
  font-size: 2.5rem;
}

h2 {
  /* 36px */
  font-size: 2.25rem;
}

h3 {
  /* 32px */
  font-size: 2rem;
}

h4 {
  /* 24px  */
  font-size: 1.5rem;
}

h5 {
  /* 20px  */
  font-size: 1.25rem;
}

h6 {
  /* 16px */
  font-size: 1rem;
}

p {
  /* 14px */
  font-size: 0.875rem;
  margin: 0;
}

/* TODO need to check the font-size in responsive to verify how to change the root font size  */

/* Date Range defined ranges hidden */
.rdrDefinedRangesWrapper {
  display: none !important;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
